<mat-card class="form-container full-width enableHover">
  <mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
  <div class="flexLayout">
    <span>
      <button mat-button matTooltip="{{ 'back' | translate }}" (click)="goBack()" class="header">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </span>
    <span>
      <span class="header"> {{ 'company' | translate }} {{ company?.name }} </span>
    </span>
    <span class="spacer"></span>

  </div>
  <mat-tab-group mat-align-tabs="center" dynamicHeight [selectedIndex]="selectedTab">
    <mat-tab label="{{ 'info' | translate}}">
      <div class="flexLayout">
        <span class="spacer"></span>
        <span>
          <button mat-button (click)="toogleEditMode()" class="showOnHover"
            matTooltip="{{ (editMode ? 'cancel' : 'edit') | translate }}">
            <mat-icon class="">{{ editMode ? 'close' : 'edit' }}</mat-icon>
          </button>
        </span>
      </div>
      <div *ngIf="company !== undefined">
        <form class="form" #formRef="ngForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'name2' | translate }}" name="name" [(ngModel)]="company.name"
              [disabled]="editMode === false" required minlength="3">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'identification-number' | translate }}" name="identificationNumber"
              [(ngModel)]="company.identificationNumber" [disabled]="editMode === false" required minlength="3">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker1" placeholder="{{ 'status' | translate}}" name="registrationDate"
              [(ngModel)]="company.registrationDate" [disabled]="editMode === false">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'status' | translate}}" name="status" [(ngModel)]="company.status"
              [disabled]="editMode === false">
          </mat-form-field>
          <button mat-raised-button [disabled]="true || editMode === false || formRef.valid === false" color="primary"
            class="main-button" (click)="editCompany()" type="submit">{{ 'save-changes' | translate }}</button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'branches' | translate}}">
      <br>
      <div *ngIf="companyOffices !== undefined && companyOffices.data.length > 0">
        <table mat-table [dataSource]="companyOffices" matSort class="basic-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'name2' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
          </ng-container>


          <!-- <ng-container matColumnDef="registrationDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'registration-date' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.registrationDate | date: 'dd/MM/yyyy' }} </td>
          </ng-container> -->

          <ng-container matColumnDef="percentage">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'percentage' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.percentage }} % </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="{{ (element.obsolete ? 'unremove' : 'remove') | translate }}"
                (click)="openRemoveOfficeDialog(element)">
                <mat-icon> {{ element.obsolete === true ? 'settings_backup_restore' : 'delete'}}</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsOffices"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOffices;"
            [ngClass]="{'blocked-row': row.obsolete == true}"></tr>
        </table>

      </div>
      <div *ngIf="companyOffices === undefined || companyOffices.data.length == 0" class="centered-info-secondary">
        <p>{{ 'no-data' | translate }}</p>
      </div>
      <div>
        <!-- <br>
        <button mat-raised-button (click)="addOffice()" color="primary" class="full-width">
          <mat-icon matListIcon>add</mat-icon>
          <span> {{ 'add-office' | translate }}</span>
        </button> -->
      </div>

    </mat-tab>
    <mat-tab label="{{ 'owners' | translate }}">
      <br>
      <div *ngIf="companyOwners !== undefined && companyOwners.data.length > 0">
        <table mat-table [dataSource]="companyOwners" matSort class="basic-table">
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'name' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
          </ng-container>

          <ng-container matColumnDef="userSurname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'surname' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.userSurname}} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'role' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{companyUserRole[element.role] | translate }} </td>
          </ng-container>

          <ng-container matColumnDef="percentage">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'company-share-percentage' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.percentage  }} % </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="{{ 'remove' | translate }}"
                (click)="openRemoveUserDialog(element.userId)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsOwners"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOwners;"
            [ngClass]="{'blocked-row': row.obsolete == true}"></tr>
        </table>
      </div>
      <div *ngIf="companyOwners === undefined || companyOwners.data.length == 0" class="centered-info-secondary">
        <p>{{ 'no-data' | translate }}</p>
        <br>
      </div>
      <div *ngIf="addUserFormVisible == true">
        <hr>
        <form class="form " #newOwnerformRef="ngForm">
          <div class="flexLayout">
            <span>
              <mat-form-field>
                <mat-label>{{ 'owner' | translate }}</mat-label>
                <mat-select [(ngModel)]="newOwner.userId" name="userId" required>
                  <mat-option *ngFor="let user of allUsers" [value]="user.id">
                    {{user.name}} {{user.surname }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span class="spacer"></span>
            <span>
              <mat-form-field>
                <mat-label>{{ 'role' | translate }}</mat-label>
                <mat-select [(ngModel)]="newOwner.role" name="roleId" required>
                  <mat-option value="1">
                    {{'EXECUTIVE' | translate }}
                  </mat-option>
                  <mat-option value="2">
                    {{'COMPANION' | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span class="spacer"></span>
            <span>
              <mat-form-field>
                <mat-label>{{ 'company-share-percentage' | translate }}</mat-label>
                <input matInput name="percentage" [(ngModel)]="newOwner.percentage" type="number" required
                  [max]="maxNewOwnerPercentage">
                <span matSuffix>%</span>
              </mat-form-field>
            </span>
            <span class="spacer"></span>
            <span class="spacer"></span>
            <span class="spacer"></span>
            <span class="actionButtons">
              <span class="autocenter">
                <button mat-raised-button
                  [disabled]=" newOwnerformRef.valid === false || newOwner.percentage > maxNewOwnerPercentage"
                  color="primary" class="" (click)="saveCompanyUser()" type="submit">{{ 'add' | translate }}</button>
              </span>
              <span class="autocenter">
                <button mat-raised-button class="" (click)="addUserFormVisible = false"
                  color="primary">{{ 'cancel' | translate }}</button>
              </span>
            </span>
          </div>
        </form>
      </div>
      <div *ngIf="addUserFormVisible == false">
        <button mat-raised-button (click)="addUser()" color="primary" class="full-width"
          [disabled]="maxNewOwnerPercentage <= 0">
          <mat-icon matListIcon>add</mat-icon>
          <span> {{ 'add-owner' | translate }}</span>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
