/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles/material-theme.scss";

*:focus {outline:none !important}

.spacer {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .form {
    min-width: 150px;
    // max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .full-width {
    width: 100%;
  }

  .login-form-container {
    max-width: 400px;
    margin: 50px auto;
  }

  .form-container {
    max-width: 450px;
    margin: 50px auto;
  }

  .form-container.bigger-width {
    max-width: 700px;
    margin: 50px auto;

  }

  .login-button {
      width: 100%;
  }
  html {
      height: 100%;
  }

  body {
    background-color: #f1f1f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  @-webkit-keyframes autofill {
    to {
        // color: white;
        background: transparent;

    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill !important;
    -webkit-animation-fill-mode: both !important;
}
  .flexLayout {
    display: flex;
  }

  .mainSection {    
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }

  .footer {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
  }


  .notification-info {
    background-color: #2a9e51;
  }

  .notification-info  .mat-simple-snackbar-action  {
    color: white
  }

  .notification-warning {
    background-color: #e99516;
    color: white;
  }

  .notification-warning  .mat-simple-snackbar-action  {
    color: white
  }

  .notification-error {
    background-color: #dd4646;
    color: white;
  }

  .notification-error  .mat-simple-snackbar-action  {
    color: white
  }


  .error-label {
    color:rgb(214, 68, 68);
  }

  .centered {
    text-align: center;
  }

  a {
    color: #bba220;
    text-decoration: underline;
  }

  a:hover {
    color: #927e17;
    text-decoration: underline;
  }

  .mat-tab-header-pagination.mat-tab-header-pagination-disabled {
    display: none !important;
}

.showOnHover { 
  visibility: hidden !important;
 }
.enableHover:hover .showOnHover { 
  visibility: visible !important;
}

// .sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;

// }

// .sidenav-sidebar {
//   width: 500px;
//   height: 300px;
//   border: 1px solid rgba(0, 0, 0, 0.5);
// }