<mat-card class="form-container">
  <h3>{{ 'forgotten-password' | translate }}</h3>
  <p>{{ 'forgotten-password-label' | translate }}</p>
  <form class="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" value="" name="email" [(ngModel)]="email">
    </mat-form-field>  
    <p *ngIf="error" class="error-label centered">{{ 'error-global-message' | translate }}</p>
    
  <button mat-raised-button color="primary" class="" (click)="sendLink()">{{ 'send-email' | translate }}</button>
  </form>

</mat-card>