<mat-card class="form-container">
  <mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
  <h3>{{ 'forgotten-password' | translate }}</h3>
  <div *ngIf="emailSent === false">
  <p>{{ 'forgotten-password-label' | translate }}</p>
  <form class="form" #formRef="ngForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" value="" name="email" #emailRef="ngModel" [(ngModel)]="email" required minlength="8" autofocus type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <mat-error *ngIf="emailRef.invalid">{{ 'enter-valid-email' | translate }}</mat-error>
    </mat-form-field>  
    <p *ngIf="error" class="error-label centered">{{ 'error-global-message' | translate }}</p>
    <div class="flexLayout">
      <span class="spacer"></span>
      <span>
        <button mat-raised-button color="primary" class="" (click)="sendLink()" [disabled]="formRef.invalid">{{ 'send-email' | translate }}</button>
      </span>
      <span class="spacer"></span>
    </div>    
  </form>
</div>
<div *ngIf="emailSent === true">   
    <p>{{ 'email-sent' | translate }}</p>
    <div class="flexLayout">
        <span class="spacer"></span>
        <span>
          <button mat-raised-button color="primary" class="" routerLink="/">{{ 'back-to-homepage' | translate }}</button>
        </span>
        <span class="spacer"></span>
      </div>
</div>

</mat-card>