<mat-card class="form-container full-width">
  <div class="flexLayout">
    <span>
      <h3>{{ 'expenses-incomes' | translate }}</h3>
    </span>
    <span class="spacer"></span>
    <span class="actionButtons">
      <span>
        <button mat-raised-button (click)="refresh()" color="primary">
          <mat-icon matListIcon>refresh</mat-icon>
          <span> {{ 'refresh' | translate }}</span>
        </button>
      </span>
      <span>
        <button mat-raised-button routerLink="{{ authService.getPath('/companyRecords/add') }}" color="primary">
          <mat-icon matListIcon>add</mat-icon>
          <span> {{ 'add-expense-income' | translate }}</span>
        </button>
      </span>
    </span>
  </div>
  <br>
  <div>
    <table mat-table [dataSource]="recordList" matSort class="basic-table">
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'date' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd.MM.yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="creator">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'created-by' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.creatorName }} </td>
        </ng-container>

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'company-name' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'office-name' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
      </ng-container>



      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'description' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'amount-sum' | translate }} </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'red-text': element.type === 1 , 'green-text': element.type === 2  }">{{element.type === 2 ? '+' : '-' }}{{element.amount}} &euro;</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <!-- <button mat-icon-button matTooltip="{{ 'company-detail' | translate }}"  routerLink="{{'/admin/companies/' + element.id }}">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button matTooltip="{{ (element.obsolete ? 'unblock' : 'block') | translate }}" (click)="remove(element)">
            <mat-icon> {{ element.obsolete === true ? 'settings_backup_restore' : 'block'}}</mat-icon>
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'blocked-row': row.obsolete == true}">
      </tr>
    </table>
    <mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="recordList === undefined || recordList.data == undefined || recordList.data.length == 0" class="centered-info-secondary">
      <br>
      <p>{{ 'no-data' | translate }}</p>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>


</mat-card>
