<mat-card class="form-container full-width">
  <div class="flexLayout">
    <span>
      <h3>{{ 'expenses-incomes' | translate }}</h3>
    </span>
    <span class="spacer"></span>
    <span class="actionButtons">
      <span>
        <button mat-raised-button (click)="refresh()" color="primary">
          <mat-icon matListIcon>refresh</mat-icon>
          <span> {{ 'refresh' | translate }}</span>
        </button>
      </span>
      <span>
        <button mat-raised-button routerLink="{{ authService.getPath('/companyRecords/add') }}" color="primary">
          <mat-icon matListIcon>add</mat-icon>
          <span> {{ 'add-expense-income' | translate }}</span>
        </button>
      </span>
    </span>
    <span class="actionButtonsResponsive">
      <span>
        <button mat-icon-button (click)="refresh()" matTooltip="{{ 'refresh' | translate }}">
          <mat-icon matListIcon>refresh</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button [routerLink]="authService.getPath('/companyRecords/add')"
          matTooltip="{{ 'add-expense-income' | translate }}">
          <mat-icon matListIcon>add</mat-icon>
        </button>
      </span>
    </span>
  </div>
  <br>
  <div class="flexLayout filter-inputs">
    <span>
      <mat-form-field class="date-filter-picker">
        <input matInput [matDatepicker]="pickerFrom" (focus)="pickerFrom.open()" [(ngModel)]="filterFrom"
          (dateChange)="filter()" placeholder="{{ 'from' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field class="date-filter-picker">
        <input matInput [matDatepicker]="pickerTo" (focus)="pickerTo.open()" placeholder="{{ 'to' | translate}}"
          (dateChange)="filter()" [(ngModel)]="filterTo">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field class="">
        <mat-select name="filterType" placeholder="{{ 'type' | translate }}" [(ngModel)]="filterType"
          (selectionChange)="filter()">
          <mat-option value="all">
            {{ 'all' | translate }}
          </mat-option>
          <mat-option value="1">
            {{ 'EXPENSE' | translate }}
          </mat-option>
          <mat-option value="2">
            {{ 'INCOME' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field class="last-input">
        <input matInput placeholder="{{ 'keyword' | translate }}" name="keyword-filter" [(ngModel)]="filterKeyword"
          (keyup)="filter()">
      </mat-form-field>
    </span>
    <span style="padding-top: 15px;">
      <button mat-button matTooltip="{{ 'clear-filters' | translate }}" (click)="clearFilters()">
        <mat-icon class="transparent">close</mat-icon>
      </button>
    </span>
  </div>
  <br>
  <div class="table-container">
    <table mat-table [dataSource]="recordList" matSort class="basic-table wide-table">
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'date' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd.MM.yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'created-by' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.creatorName }} </td>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'company-name' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'office-name' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
      </ng-container>



      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'description' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'amount-sum' | translate }} </th>
        <td mat-cell *matCellDef="let element"
          [ngClass]="{'red-text': element.type === 1 , 'green-text': element.type === 2  }">
          {{element.type === 2 ? '+' : '-' }}{{element.amount}} &euro;</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.editable">
            <button mat-icon-button matTooltip="{{ 'edit' | translate }}" (click)="edit(element)">
              <mat-icon class="transparent">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{ (element.obsolete ? 'unremove' : 'remove') | translate }}"
              (click)="openRemoveUserDialog(element)">
              <mat-icon class="transparent">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'blocked-row': row.obsolete == true}">
      </tr>
    </table>
    <mat-progress-bar *ngIf="loadingData" mode="indeterminate" color="accent"></mat-progress-bar>
    <div *ngIf="recordList === undefined || recordList.data == undefined || recordList.data.length == 0"
      class="centered-info-secondary">
      <br>
      <p>{{ 'no-data' | translate }}</p>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</mat-card>
