<mat-card class="form-container bigger-width">
  <mat-progress-bar *ngIf="loadingData" mode="indeterminate" color="accent"></mat-progress-bar>
  <h3>{{ 'reset-password' | translate }}</h3>
  <p>{{ 'reset-password-label' | translate }}</p>
  <form class="form" #formRef="ngForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" value="" name="email" #emailRef="ngModel" [(ngModel)]="formData.email" required minlength="8" autofocus type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <mat-error *ngIf="emailRef.invalid">{{ 'enter-valid-email' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'new-password' | translate }}" name="password1"  #password1Ref="ngModel" #p1 type="password" [(ngModel)]="formData.password1" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$">
      <button type="button" tabindex="-1" mat-button matSuffix mat-icon-button matTooltip="{{ (p1.type === 'password' ? 'show-password' : 'hide-password') | translate }}" (click)="p1.type === 'password' ? p1.type ='text' : p1.type='password'">
          <mat-icon>{{ p1.type === 'text'? 'lock' : 'lock_open'}}</mat-icon>
      </button>
      <mat-error *ngIf="password1Ref.invalid">{{ 'password-requirements' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'new-password-repeat' | translate }}" name="password2"  #password2Ref="ngModel" #p2 type="password" [(ngModel)]="formData.password2" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$">
      <button type="button" tabindex="-1" mat-button matSuffix mat-icon-button matTooltip="{{ (p2.type === 'password' ? 'show-password' : 'hide-password') | translate }}" (click)="p2.type === 'password' ? p2.type ='text' : p2.type='password'">
          <mat-icon>{{ p2.type === 'text'? 'lock' : 'lock_open'}}</mat-icon>
      </button>
      <mat-error *ngIf="password2Ref.invalid">{{ 'password-requirements' | translate }}</mat-error>
    </mat-form-field>
    <p *ngIf="errorPasswordMatch && formData.password1 !== formData.password2" class="error-label centered">{{ 'error-password-match' | translate }}</p>

  <button mat-raised-button color="primary" class="main-button" (click)="reset()" [disabled]="formRef.invalid">{{ 'reset' | translate }}</button>
  </form>

</mat-card>
