<mat-card class="form-container">
  <h3>{{ 'reset-password' | translate }}</h3>
  <p>{{ 'reset-password-label' | translate }}</p>
  <form class="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" value="" name="email" [(ngModel)]="formData.email">
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'new-password' | translate }}" name="password" type="password" [(ngModel)]="formData.password1">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{ 'new-password-repeat' | translate }}" name="password" type="password" [(ngModel)]="formData.password2">
    </mat-form-field>
    <p *ngIf="errorLogin" class="error-label centered">{{ 'error-login-label' | translate }}</p>
    
  <button mat-raised-button color="primary" class="login-button" (click)="reset()">{{ 'reset' | translate }}</button>
  </form>

</mat-card>