<div>
    <div class="flexLayout">
        <span>

        </span>

        <span class="spacer"></span>
        <span>
            <mat-form-field>
                <mat-label>{{'group-by' | translate }}</mat-label>
                <mat-select  [(ngModel)]="groupedBy" (selectionChange)="manageData()">
                  <mat-option value="year">
                    {{'group-by-year' | translate }}
                  </mat-option>
                  <mat-option value="month">
                      {{'group-by-month' | translate }}
                    </mat-option>
                    <mat-option value="day">
                        {{'group-by-day' | translate }}
                      </mat-option>
                </mat-select>
              </mat-form-field>
        </span>
      </div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
