<body>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/register-user" color="">
      <mat-icon class="">account</mat-icon>
      <span> {{ 'register_user' | translate }}</span>
    </button>
    <span class="spacer"></span>
    <mat-form-field class="" *ngIf="this.currentRoute === '/categories'">
      <mat-icon class="">search</mat-icon>
      <input matInput [(ngModel)]="searchValue" (input)="onSearch($event.target.value)">
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="langSelector" matTooltip="{{ 'language' | translate }}">
      <mat-icon class="">language</mat-icon> {{ selectedLanguage | uppercase }}

    </button>
    <mat-menu #langSelector="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
      <button mat-menu-item (click)="changeLanguage('sk')">
        SK
      </button>
      <button mat-menu-item (click)="changeLanguage('cz')">
        CZ
      </button>
      <button mat-menu-item (click)="changeLanguage('en')">
        EN
      </button>
    </mat-menu>
    <button mat-button routerLink="/about" color="">
      <mat-icon class="">info</mat-icon>
      <span> {{'about' | translate}}</span>
    </button>

    <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login" color="">
      <mat-icon class="">account_circle</mat-icon>
      <span> {{'login' | translate}}</span>
    </button>

    <button *ngIf="authService.isLoggedIn()" mat-button [matMenuTriggerFor]="userDropdown">
      <mat-icon class="">account_circle</mat-icon> {{  userData.email }}

    </button>
    <mat-menu #userDropdown="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
      <button mat-menu-item (click)="navigate('/user')">
        Profile
      </button>
      <button mat-menu-item (click)="logout()">
        Logout
      </button>
    </mat-menu>


  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
