<mat-card class="form-container full-width enableHover">
  <mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
  <div class="flexLayout">
    <span>
      <button mat-button matTooltip="{{ 'back' | translate }}" (click)="goBack()" class="header">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </span>
    <span>
      <span class="header"> {{ 'office' | translate }} <strong>{{ office?.name }}</strong> </span>
    </span>
    <span class="spacer"></span>
  </div>
  <div *ngIf="percentageNotFilledWarning" class="warning-container">
      <mat-icon class="transparent">info</mat-icon> {{ 'percentage-company-not-filled-warning' | translate }}&nbsp;<strong>{{ maxNewCompanyPercentage }}% </strong>
    </div>
  <mat-tab-group mat-align-tabs="center" dynamicHeight [selectedIndex]="selectedTab">
    <mat-tab label="{{ 'info' | translate }}">
      <div class="flexLayout">
        <span class="spacer"></span>
        <span>
          <button mat-button (click)="toogleEditMode()" class="showOnHover"
            matTooltip="{{ (editMode ? 'cancel' : 'edit') | translate }}">
            <mat-icon class="">{{ editMode ? 'close' : 'edit' }}</mat-icon>
          </button>
        </span>
      </div>
      <div *ngIf="office !== undefined">
        <form class="form" #formRef="ngForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'name2' | translate }}" name="name" [(ngModel)]="office.name"
              [disabled]="editMode === false" required minlength="3">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'description' | translate }}" name="description"
              [(ngModel)]="office.description" [disabled]="editMode === false" required minlength="3">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker1" placeholder="{{ 'registration-date' | translate}}" name="registrationDate"
              [(ngModel)]="office.registrationDate" [disabled]="editMode === false">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select [(ngModel)]="office.status" name="status" required placeholder="{{ 'status' | translate }}" [disabled]="editMode === false">
              <mat-option *ngFor="let status of officeStatuses" [value]="officeStatus[status]">
                {{status | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button [disabled]=" editMode === false || formRef.valid === false" color="primary"
            class="main-button" (click)="editOffice()" type="submit">{{ 'save-changes' | translate }}</button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'companies' | translate}}">
      <div *ngIf="officeCompanies !== undefined && officeCompanies.data.length > 0">
        <table mat-table [dataSource]="officeCompanies" matSort class="basic-table">
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'name2' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="companyIdentificationNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'identification-number' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.companyIdentificationNumber}} </td>
          </ng-container> -->

          <ng-container matColumnDef="percentage">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'percentage' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.percentage }}% </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="{{ 'edit' | translate }}"
                (click)="openOfficeCompanyPercentageDialog(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="{{ (element.obsolete ? 'unremove' : 'remove') | translate }}"
                (click)="openRemoveCompanyDialog(element)">
                <mat-icon> {{ element.obsolete === true ? 'settings_backup_restore' : 'delete'}}</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsCompanies"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCompanies;"
            [ngClass]="{'blocked-row': row.obsolete == true}"></tr>
        </table>

      </div>
      <div *ngIf="officeCompanies === undefined || officeCompanies.data.length == 0" class="centered-info-secondary">
        <p>{{ 'no-data' | translate }}</p>
      </div>
      <div>
        <div>
          <button mat-raised-button (click)="openOfficeCompanyPercentageDialog(undefined)" color="primary" class="full-width"
            [disabled]="maxNewCompanyPercentage <= 0">
            <mat-icon matListIcon>add</mat-icon>
            <span> {{ 'add-company' | translate }}</span>
          </button>
        </div>

      </div>

    </mat-tab>
    <mat-tab label="{{ 'cash-flow' | translate }}">
      <br>
      <div *ngIf="cashflow !== undefined && cashflow.data.length > 0">
          <app-chart-data [data]="office.cashflow" [type]="'office'" >
            </app-chart-data>
        <table mat-table [dataSource]="cashflow" matSort class="basic-table">
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'date' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd.MM.yyyy' }} </td>
              </ng-container>

              <ng-container matColumnDef="creator">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'created-by' | translate }} </th>
                  <td mat-cell *matCellDef="let element"> {{element.creatorName }} </td>
                </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'description' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'amount-sum' | translate }} </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'red-text': element.type === 1 , 'green-text': element.type === 2  }">{{element.type === 2 ? '+' : '-' }} {{element.amount}} &euro;</td>
              </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumnsCashFlow"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCashFlow;"
            [ngClass]="{'blocked-row': row.obsolete == true}"></tr>
        </table>
      </div>
      <div *ngIf="cashflow === undefined || cashflow.data.length == 0" class="centered-info-secondary">
          <p>{{ 'no-data' | translate }}</p>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </mat-tab>
  </mat-tab-group>
</mat-card>
