<mat-card class="form-container bigger-width">
  <h3>{{ 'about-system' | translate }}</h3>
  <br>
  <div class="card-panel">
    <div class="left">
      {{ 'about-info1' | translate }}
    </div>
    <div class="right">
      <img src="../../assets/about1.png" alt="">
    </div>
  </div>
  <div class="card-panel">
    <div class="left">
      <img src="../../assets/about2.png" alt="">
    </div>
    <div class="right">
      {{ 'about-info2' | translate }}
    </div>
  </div>
  <div class="card-panel">
    <div class="left">
      {{ 'about-info3' | translate }}
    </div>
    <div class="right">
      <img src="../../assets/about3.png" alt="">
    </div>
  </div>
 

</mat-card>