@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-light-blue, 700, 300, 900);
$accent: mat-palette($mat-blue-gray, A400, A100, A700);
$warn: mat-palette($mat-deep-orange);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// Our dark theme
.dark-theme {
  //color: $light-primary-text;
  background-color: #2c2c2c;
  $dark-primary: mat-palette($mat-blue, 800, 400, 900);
  $dark-accent: mat-palette($mat-blue-gray, A400, A100, A700);
  $dark-warn: mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

.dark-theme .footer {
    background-color: #424242 !important;
    color: white;
}

.dark-theme .mainSection {
  background-color: #282828;
}

@-webkit-keyframes autofillDark {
  to {
      color: white;
      background: transparent;

  }
}

.dark-theme input:-webkit-autofill {
  -webkit-animation-name: autofillDark !important;
  -webkit-animation-fill-mode: both !important;
}

.dark-theme .sidebarLogo {
  max-width: 50px;
  filter: invert(1);
}

.dark-theme .card-panel img {
  filter: invert(1);
}


.footer, .mainSection, .mat-card, .mat-drawer, .mat-table, .mat-paginator {
  transition: 0.25s background-color linear, 0.3s color linear !important;
}
