@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// Our dark theme
.dark-theme {
  //color: $light-primary-text;
  background-color: #222121;
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

.dark-theme .footer {
    background-color: #424242 !important;
    color: white;
}

@-webkit-keyframes autofillDark {
  to {
      color: white;
      background: transparent;

  }
}

.dark-theme input:-webkit-autofill {
  -webkit-animation-name: autofillDark !important;
  -webkit-animation-fill-mode: both !important;
}

.dark-theme .sidebarLogo {  
  max-width: 50px;
  filter: invert(1);
}