@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>Current user: </h3>
<h3>@ViewData["User"]</h3>

<p>Use this area to provide additional information.</p>
