<div class="cardList">
  <mat-card class="cardListItem" *ngFor="let company of recordList">
    <div class="flexLayout">
      <span>
        <h3>{{ company.companyName }}</h3>
      </span>
      <span class="spacer"></span>
      <span class="actionButtons">
        <span>
          <button mat-icon-button (click)="refresh()" matTooltip="{{ 'refresh' | translate }}">
            <mat-icon matListIcon>refresh</mat-icon>
          </button>
        </span>
        <span>
          <button mat-icon-button routerLink="{{ authService.getPath('/personalRecords/add/' + company.companyId) }}"
            matTooltip="{{ 'add-deposit-withdraw' | translate }}">
            <mat-icon mat-icon>add</mat-icon>
          </button>
        </span>
      </span>
      <span class="actionButtonsResponsive">
          <span>
            <button mat-icon-button (click)="refresh()" matTooltip="{{ 'refresh' | translate }}">
              <mat-icon matListIcon>refresh</mat-icon>
            </button>
          </span>
          <span>
            <button mat-icon-button [routerLink]="authService.getPath('/personalRecords/add')"
              matTooltip="{{ 'add-deposit-withdraw' | translate }}">
              <mat-icon matListIcon>add</mat-icon>
            </button>
          </span>
        </span>
    </div>
    <mat-tab-group mat-align-tabs="center" dynamicHeight [selectedIndex]="selectedTab">
      <mat-tab label="{{ 'overview' | translate}}">
        <mat-progress-bar *ngIf="loadingData" mode="indeterminate" color="accent"></mat-progress-bar>
        <br>
        <div class="flexLayout" *ngIf="authService.isEnabledFor('Owner')">
          <table class="sumTable">
            <tr>
              <td>{{ 'actual-money-state' | translate }}:</td>
              <td class="sumCell">
                <strong [ngClass]="{'red-text': company.cashflow < 0, 'green-text': company.cashflow > 0 }">
                  {{ company.cashflow }}&euro;</strong>
              </td>
            </tr>
            <tr>
              <td>{{ 'all-deposits' | translate }}:</td>
              <td class="sumCell red-text"> <strong>-{{ company.allDeposit }}&euro;</strong> </td>
            </tr>
            <tr>
              <td>{{ 'all-withdraws' | translate }}:</td>
              <td class="sumCell green-text"> <strong>{{ company.allWithdraw  * (-1) }}&euro;</strong> </td>
            </tr>
            <tr>
              <td>{{ 'company-owner-share' | translate }}:</td>
              <td class="sumCell"> <strong>{{ company.percentage }}%</strong> </td>
            </tr>
            <tr class="sumRow2">
              <td>{{ 'calculated-amount' | translate }}:</td>
              <td class="sumCell">
                <span style="font-size: 0.8em; font-weight: normal;">
                  (({{company.cashflow}}&euro; - {{company.allDeposit}}&euro; + {{company.allWithdraw * (-1) }}&euro;) *
                  {{ company.percentage }}%) = </span>
                <strong
                  [ngClass]="{'red-text': company.cashflow < 0, 'green-text': company.cashflow > 0 }">{{ sumCompanyShare(company) }}&euro;</strong>
              </td>
            </tr>

            <tr>
              <td>{{ 'personal-deposits' | translate }}:</td>
              <td class="sumCell green-text"> <strong>+{{ company.personalDeposit }}&euro;</strong> </td>
            </tr>
            <tr>
              <td>{{ 'withdrawed' | translate }}:</td>
              <td class="sumCell red-text"> <strong>{{ company.personalWithdraw }}&euro;</strong> </td>
            </tr>
            <tr class="sumRow">
              <td>{{ 'available-money' | translate }}:</td>
              <td class="sumCell" [ngClass]="{'red-text': finalSum(company) < 0, 'green-text': finalSum(company) > 0 }">
                <strong>{{ finalSum(company) }}&euro;</strong> </td>
            </tr>

          </table>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'history' | translate}}">
        <mat-progress-bar *ngIf="loadingData" mode="indeterminate" color="accent"></mat-progress-bar>
        <br>
        <div class="table-container">
          <table mat-table [dataSource]="company.records" matSort class="basic-table">
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef> {{ 'date' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd.MM.yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="creator">
              <th mat-header-cell *matHeaderCellDef> {{ 'created-by' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.creatorName }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> {{ 'description' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> {{ 'amount-sum' | translate }} </th>
              <td mat-cell *matCellDef="let element"
                [ngClass]="{'red-text': element.type === 3 , 'green-text': element.type === 4  }">
                {{element.type === 4 ? '+' : '-' }}{{element.amount}} &euro;</td>
            </ng-container>


            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
              <td mat-cell *matCellDef="let element">
                <!-- <button mat-icon-button matTooltip="{{ 'company-detail' | translate }}"  routerLink="{{'/admin/companies/' + element.id }}">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button matTooltip="{{ (element.obsolete ? 'unblock' : 'block') | translate }}" (click)="remove(element)">
            <mat-icon> {{ element.obsolete === true ? 'settings_backup_restore' : 'block'}}</mat-icon>
          </button> -->
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{'blocked-row': row.obsolete == true}">
            </tr>
          </table>
        </div>
        <div *ngIf="company.records === undefined || company.records.length == 0" class="centered-info-secondary">
          <br>
          <p>{{ 'no-data' | translate }}</p>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
