<mat-card class="form-container  bigger-width">
  <mat-progress-bar *ngIf="loadingData" mode="indeterminate" color="accent"></mat-progress-bar>
  <div class="flexLayout">
    <span>
      <button mat-button matTooltip="{{ 'back' | translate }}" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </span>
    <span>
      <span class="header"> {{ 'add' | translate }} {{ record.type | translate }} </span>
    </span>
    <span class="spacer"></span>
  </div>
  <br>
  <form class="form" #formRef="ngForm">
    <mat-form-field class="full-width">
      <mat-label>{{ 'type' | translate }}</mat-label>
      <mat-select [(ngModel)]="record.type" name="recordType" required>
        <mat-option value="deposit">
          {{ 'deposit' | translate }}
        </mat-option>
        <mat-option value="withdraw">
          {{ 'withdraw' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field class="full-width">
      <mat-label>{{ 'company' | translate }}</mat-label>
      <mat-select [(ngModel)]="record.companyId" name="companyId" required>
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{company.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field class="full-width">
      <input matInput placeholder="{{'description' | translate }}" name="description" [(ngModel)]="record.description"
        required minlength="5">
    </mat-form-field>
    <mat-form-field class="full-width">
      <span matPrefix [ngClass]="{'red-text': record.type === 'withdraw' , 'green-text': record.type === 'deposit'  }">{{ record.type === 'deposit' ? '+' : '-' }}</span>
      <input matInput [ngClass]="{'red-text': record.type === 'withdraw' , 'green-text': record.type === 'deposit'  }" placeholder="{{'amount-sum' | translate }}" name="amount" [(ngModel)]="record.amount" required
        type="number">

      <span matSuffix>&nbsp;&euro;</span>
    </mat-form-field>

    <button mat-raised-button color="primary" class="main-button" (click)="add()"
      [disabled]="formRef.invalid || loadingData">{{ 'add' | translate }}</button>
  </form>

</mat-card>
